@font-face {
    font-family: ARIALB;
    src: url(ARIAL.woff);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    
}

.bg {
    opacity: 1;
    /* filter: blur(0.3vi); */
    background-image: url(sele.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
}

.bg2 {
    opacity: 1;
    /* filter: blur(0.3vi); */
    background-image: url(down.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

main {
    transform: scale(0.76);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: start;
}

.container {
    opacity: 0;
    margin-top: 11.2vi;
    z-index: 1;
    display: flex;
    flex-direction: column;
    max-width: 32vw;
    border: 0.104vi solid rgb(0, 120, 215);
}

.top {
    display: flex;
    flex-direction: column;
    padding: 0.7vi 1.5vi 0.7vi 1.5vi;
    font-family: "Segoe UI", Arial, sans-serif;
    gap: 0.85vi;
    background-color: rgb(118, 185, 237);

    p{
        font-family: "Segoe UI", Arial, sans-serif;
        font-size: 0.85vi;
        font-weight: 400;
    }

    h1 {
        font-family: "Segoe UI", Arial, sans-serif;
        font-size: 1.35vi;
        font-weight: 400;
        line-height: 1.8vi;
    }
}

.close{
    display: flex;
    flex-direction: row;
}

.X{
    align-self: flex-end;
    z-index: 1;
    position: absolute;
    width: 3.2vi;
    height: 2.5vi;
    background-image: url(x.png);
    background-size: 22%;
    background-repeat: no-repeat;
    background-position: center;
}

.X:hover{
    background-image: url(x2.png);
    background-color: red;
}

.azul {
    color: rgb(0, 120, 215);
    max-width: 11vi;
    font-weight: 400;
}

.azul:hover{
    color: rgb(113, 113, 113);
    cursor: pointer;
}

.bot {
    padding: 1.5vi 1.5vi 1.5vi 1.5vi;
    gap: 0.8vi;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 231, 231);

    p {
        font-family: "Segoe UI", Arial, sans-serif;
        font-size: 1.02vi;
        line-height: 1.32vi;
        font-weight: 400;

        blue{
            color: rgb(0, 120, 215);
        }

        blue:hover{
            color: rgb(113, 113, 113);
            cursor: pointer;
        }
    }

    input {
        background-color: rgb(240, 240, 240);
        padding: 0.55vi 0.5vi 0.4vi 0.6vi;
        font-size: 0.95vi;
        font-family: "Segoe UI", Arial, sans-serif;
        font-weight: 400;
        max-width: 21.5vw;
        border: solid 0.1px rgb(36, 36, 36);
        outline: none;
    }

    input:hover {
        background-color: rgb(245, 245, 245);
    }


    input:focus {
        background-color: rgb(255, 255, 255);
        border: solid 0.001vi rgb(0, 120, 215);
    }

}

.app {
    display: flex;
    gap: 0.85vi;
    flex-direction: row;
    align-items: center;
    font-family: "Segoe UI", Arial, sans-serif;
    margin-top: -0.2vi;
    margin-bottom: 1vi;

    img {
        width: 2.7vi;
        height: 2.7vi;
    }

    h1 {
        margin-top: 0.25vi;
        font-family: "Segoe UI", Arial, sans-serif;
        font-size: 1.235vi;
        font-weight: 400;
    }

}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 0.45vi;
    margin-top: 1.35vi;


    button {
        background-color: rgb(184, 184, 184);
        width: 100%;
        height: 2.3vi;
        outline: none;
        border: none;
        font-family: "Segoe UI", Arial, sans-serif;
        font-size: 0.95vi;
    }

    button:hover {
        
        outline: 0.127vi solid rgb(67, 67, 67);
    }
    button:focus{
        outline: 2px solid black;
    }
}
